COMPOSE_PROJECT_NAME=inkblog
TZ=Asia/Shanghai

WEB_PORT=8080
MYSQL_PORT=3306
REDIS_PORT=6379

MYSQL_ROOT_PASSWORD=change-this-root-password
MYSQL_DATABASE=inkblog
MYSQL_USER=inkblog
MYSQL_PASSWORD=change-this-app-password

NOTIFICATION_SERVICE_TOKEN=inkblog-notification-prod-token
SERVICE_CONTROL_TOKEN=inkblog-service-control-prod-token
CORE_CONTROL_PORT=13170
NPM_REGISTRY=https://registry.npmmirror.com/
